<!-- REPLACE THE VALUE "##EXAMPLE##" TO YOUR MSSQL SERVER NAME -->
ConnectionStrings__BlogConnectionString = "Server=##EXAMPLE##;Database=BlogAPIDatabase;Trusted_Connection=True;TrustServerCertificate=True"